@charset "utf-8";

/* 컨테이너 */
.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;

}

/* 헤더 */
#header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1000;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


#header .container ul {
  display: flex;
  align-items: center;
  height: 100%;
}

#header .container ul li {
  padding: 0 25px 0 25px;
  height: 100%;
}

#header .container ul li:hover a {
  color: #B5121B;
}

#header .container ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* 공통 서브메뉴 스타일 */

#header .container ul li ul {
  position: absolute;
  top: 80px;
  height: 60px;
  background: #fff;
  border-top: 1px solid #c4c4c4;
}

#header .container ul li ul li {
  padding: 0 20px;
  display: inline-block;
}

#header .container ul li ul li a {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #666;
  transition: all 0.3s ease;
}

#header .container ul li ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #B5121B;
  display: none;
  transition: all 0.3s ease;
} 

#header .container ul li:hover ul li a {
  color: #666;
}

#header .container ul li ul li a:hover {
  color: #B5121B;
}

#header .container ul li ul li a:hover::after {
  display: block;
}

/* 해당 서브메뉴 스타일 */

#header .container ul li ul.menu {
  display: none;
  left: 340px;
}

#header .container ul li.menu-wrap:hover ul.menu {
  display: block;
}

#header .container ul li ul.mall {
  display: none;
  left: 620px;
}

#header .container ul li.mall-wrap:hover ul.mall {
  display: block;
}

#header .container ul li ul.membership {
  display: none;
  left: 900px;
}

#header .container ul li.membership-wrap:hover ul.membership {
  display: block;
}

#header .container ul li ul.news {
  display: none;
  left: 1050px;
}

#header .container ul li.news-wrap:hover ul.news {
  display: block;
}

#header .container ul li ul.store {
  display: none;
  left: 980px;
}

#header .container ul li.store-wrap:hover ul.store {
  display: block;
}

#header .background {
  display: none;
  height: 60px;
  background: #fff;
  border-top: 1px solid #c4c4c4;
}

#header .container .sign-wrap {
  display: flex;
  gap: 22px;
}

#header .container .sign-wrap a {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  padding-left: 20px;
  transition: all 0.3s ease;
}

#header .container .sign-wrap a:hover {
  color: #B5121B;
}

#header .container .sign-wrap .sign-in::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  background: url(../img/sign_in.svg) no-repeat;
  transition: all 0.3s ease;
}

#header .container .sign-wrap .sign-in:hover::before {
  background: url(../img/sign_in_r.svg) no-repeat;
}

#header .container .sign-wrap .sign-up {
  padding-left: 26px;
}

#header .container .sign-wrap .sign-up::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 20px;
  height: 16px;
  background: url(../img/sign_up.svg) no-repeat;
  transition: all 0.3s ease;
}

#header .container .sign-wrap .sign-up:hover::before {
  background: url(../img/sign_up_r.svg) no-repeat;
}

/* 섹션 공통 스타일 */
.section {
  height: 100vh;
}

.section .container .visual-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 72px;
}

.section .container .visual-top .title-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section .container .visual-top .title-wrap .sec-tit {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 6px solid #B5121B;
  width: fit-content;
}

.section .container .visual-top .title-wrap .sec-desc {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  letter-spacing: -1px;
}

.section .container .visual-top .view-more {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #666;
  padding-right: 22px;
  transition: all 0.3s ease;
}

.section .container .visual-top .view-more:hover {
  color: #B5121B;
}

.section .container .visual-top .view-more::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/btn-plus.svg) no-repeat;
  transition: all 0.3s ease;
}

.section .container .visual-top .view-more:hover::after {
  background: url(../img/arrow_r_red_10x16.svg) no-repeat;
} 

/* 섹션 비주얼1  */
.visual1 {
  background-color: #FAD239;
}

.visual1 .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 섹션 비주얼2  */
.visual2 {
  background: #EFE5E8 url(../img/side_text_w.svg) no-repeat 100% 0;
}

.visual2 .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}


.visual2 .container .visual-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.visual2 .container .visual-bot .nav-menu a {
  position: relative;
  display: block;
  font-size: 42px;
  font-weight: 500;
  color: #333;
  letter-spacing: -1px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 46px;
  padding-right: 30px;
}

.visual2 .container .visual-bot .nav-menu a::before {
  position: absolute;
  bottom: -2px ;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #B5121B;
  opacity: 0;
  transition: all 0.3s ease;
}

.visual2 .container .visual-bot .nav-menu a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 20px;
  background: url(../img/arrow_r_red.svg) no-repeat;
  opacity: 0;
  transition: all 0.3s ease;
}

.visual2 .container .visual-bot .nav-menu a:hover {
  color: #B5121B;
}

.visual2 .container .visual-bot .nav-menu a:hover::after {
  opacity: 1;
  margin-left: 0;
}

.visual2 .container .visual-bot .nav-menu a:hover::before {
  width: 100%;
  opacity: 1;
}

.visual2 .container .visual-bot .menu-wrap {
  display: flex;
  gap: 22px;
}

.visual2 .container .visual-bot .menu-wrap a {
  width: 320px;
  height: 420px;
  background-color: #fff;
  border: 1px solid #CDCDCD;
}

.visual2 .container .visual-bot .menu-wrap a span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
}


.visual2 .container .visual-bot .menu-wrap a .menu-title {
  color: #B5121B;
  margin-top: 32px;
}

.visual2 .container .visual-bot .menu-wrap a .menu-price {
  color: #333;
  margin-top: 6px;
}

/* 섹션 비주얼3 */
.visual3 {
  background: #fff url(../img/side_text_p.svg) no-repeat;
}  

.visual3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visual3 .container .visual-top .title-wrap {
  order: 2;
  align-items: flex-end;
}

.visual3 .container .visual-top .view-more {
  order: 1;
}

.visual3 .container .b2bSwiper {
  position: relative;
  overflow: hidden;
}

.visual3 .container .b2bSwiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.visual3 .container .b2bSwiper .swiper-wrapper .swiper-slide .b2b-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual3 .container .b2bSwiper .swiper-wrapper .swiper-slide .b2b-wrap span {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.visual3 .container .b2bSwiper .swiper-wrapper .swiper-slide .b2b-wrap a {
  padding: 6px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: #828282;
  letter-spacing: -1px;
  transition: all 0.3s ease;
}

.visual3 .container .b2bSwiper .swiper-wrapper .swiper-slide .b2b-wrap a:hover {
  background-color: #B5121B;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.visual3 .container .b2bSwiper .swiper-button-prev, 
.visual3 .container .b2bSwiper .swiper-button-next {
  width: 50px;
  height: 50px;
  background: url(../img/slide_arrow.svg) no-repeat;
  transition: all 0.3s ease;
}

.visual3 .container .b2bSwiper .swiper-button-prev:hover, 
.visual3 .container .b2bSwiper .swiper-button-next:hover {
  background: url(../img/slide_arrow_red.svg) no-repeat;
}

.visual3 .container .b2bSwiper .swiper-button-prev {
  transform: rotate(180deg);
}

/* 섹션 비주얼4 */
.visual4 {
  background: #EFE5E8 url(../img/side_text_w.svg) no-repeat 100% 0;
}  

.visual4 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visual4 .container .sec-left {
  display: flex;
  flex-direction: column;
}

.visual4 .container .sec-left .visual-top {
  margin-bottom: 44px;
}

.visual4 .container .sec-right {
  display: flex;
  flex-direction: column;
}

.visual4 .container .sec-right .visual-top {
  order: 2;
  margin-bottom: 0;
  margin-top: 44px;
}

/* 섹션 비주얼5 */
.visual5 {
  position: relative;
  background: url(../img/visual5-bg.png) no-repeat center / 100%;
}

.visual5::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
}
.visual5 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.visual5 .container .sec-tit {
  position: relative;
  width: fit-content;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #fff;
  padding-right: 22px;
  margin-bottom: 40px;
}


.visual5 .container .sec-tit::after {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #B5121B;
  border-radius: 50%;
}

.visual5 .container .sec-txt {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
  margin-bottom: 50px;
}

.visual5 .container .sec-txt:nth-of-type(3) {
  margin-bottom: 90px;
}

.visual5 .container .btn-wrap {
  display: flex;
  gap: 14px;
}

.visual5 .container .btn-wrap a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 66px;
  background-color: #B5121B;
}

.visual5 .container .btn-wrap a::after {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 16px;
  background: url(../img/arrow_r_w_10x16.svg) no-repeat;
  opacity: 0;
  transition: all 0.3s ease;
}

.visual5 .container .btn-wrap a:hover {
  background-color: #D91226;
}

.visual5 .container .btn-wrap a:hover::after {
  opacity: 1;
}

.visual5 .container .btn-wrap a span {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1px;
  transition: all 0.6s ease;
}

.visual5 .container .btn-wrap a:hover span {
  margin-left: -32px;
}

/* 섹션 비주얼6 */
.visual6 {
  background: #fff url(../img/side_text_p.svg) no-repeat;
}  

.visual6 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visual6 .container .visual-bot .notice-wrap {
  padding-bottom: 56px;
}

.visual6 .container .visual-bot .notice-wrap:nth-of-type(2) {
  padding-bottom: 0;
  padding-top: 56px;
} 

.visual6 .container .visual-bot .notice-wrap .title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #B5121B;
  margin-bottom: 20px;
}

.visual6 .container .visual-bot .notice-wrap .notice {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.visual6 .container .visual-bot .notice-wrap .notice .conts a {
  display: block;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 10px;
}

.visual6 .container .visual-bot .notice-wrap .notice .conts a:hover {
  color: #000;
}

.visual6 .container .visual-bot .notice-wrap .notice .conts span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #666;
}

/* 푸터 */
#footer {
  background-color: #4D4D4D;
  padding: 40px 0 80px;
}

#footer .container span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #666;
  font-style: normal;
}

#footer .container .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #666666;
}

#footer .container .footer-top .event a {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  margin-right: 38px;
}

#footer .container .footer-top address p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  font-style: normal;
  margin-bottom: 6px;
} 

#footer .container .footer-top address span {
  display: inline-block;
  margin-bottom: 30px;
}

#footer .container .footer-top address span:nth-of-type(2) {
  margin-bottom: 0;
}

#footer .container .footer-bot {
  position: relative;
  padding-top: 40px;
}

#footer .container .footer-bot .footer-nav {
  display: flex;
  gap: 16px;
}

#footer .container .footer-bot .footer-nav a {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #fff;
}

#footer .container .footer-bot .footer-nav a:first-child {
  font-weight: 600;
}

#footer .container .footer-bot address {
  margin-top: 40px;
}

#footer .container .footer-bot address div {
  margin-top: 8px;
}

#footer .container .footer-bot address > span {
  display: inline-block;
  margin-top: 8px;
}

#footer .container .footer-bot .sns-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 6px;
}





